@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

html {
  background-color: #9c0909;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  font-family: "Acme", sans-serif;
  color: #fff;
}
